body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #1300df;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #ff0026;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff0026;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.delete-btn {
    background-color: #020016;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.hello {
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-image {
    margin-left: 10px;
    width: 60px;

}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  


    


