body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
        background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3BmLXMxMTItcGEtNTZfMS5qcGc.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     width: auto;
     height: 100px;
     margin:0px;
     padding: 0%;
    }   


.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #6c4302;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #a55232;
    color: #000000;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #fcfafa;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}


.hello {
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-image {
    margin-left: 10px;
    width: 60px;
height: 60px;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
  }

  footer {
    background-color: #5c3802;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color:rgba(255, 255, 255, 0.986);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}



    


